@import "tailwindcss";

@font-face{
    font-family: 'IntegralCF';
    src: url("./assets/fonts/IntegralCF-Bold.otf") format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face{
    font-family: 'Satoshi';
    src: url("./assets/fonts/Satoshi-Variable.ttf") format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: 'SatoshiSemiBold';
    src: url("./assets/fonts/Satoshi-Variable.ttf") format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face{
    font-family: 'SatoshiBold';
    src: url("./assets/fonts/Satoshi-Variable.ttf") format('truetype');
    font-weight: 700;
    font-style: normal;
}

@theme{
    --font-integralcf: 'IntegralCF', sans-serif;
}

@theme{
    --font-satoshi: 'Satoshi', sans-serif;
}

@theme{
    --font-satoshi: 'SatoshiSemiBold', sans-serif;
}

@theme{
    --font-satoshibold: 'SatoshiBold', sans-serif;
}

.brand-logo{
    @apply invert object-cover cursor-pointer hover:opacity-80 transition-all duration-200 active:scale-95;
}

.star_rate{
    @apply text-yellow-400 w-[15px] h-[15px] md:w-[18px] md:h-[18px];
}

.view_all_btn{
    @apply font-satoshi text-[14px] md:text-[16px] rounded-[62px] border border-[rgba(0,0,0,0.1)] py-[16px] px-[65px] w-full sm:max-w-[350px] lg:max-w-52.5 hover:bg-[#f5f5f5] cursor-pointer transition-all active:scale-95 max-w-[370px] md:w-[250];
}

.home_banner{
    @apply font-integralcf text-[32px] md:text-[48px];
}

.style_card{
    @apply relative rounded-[20px] overflow-hidden cursor-pointer hover:scale-103 transition-all;
}

.style_card-md {
    @apply col-span-1 md:col-span-2;
}

.style_card-lg {
    @apply col-span-1 md:col-span-3;
}

.footer_options{
    @apply font-satoshi opacity-50 text-[14px] md:text-[16px] cursor-pointer active:opacity-20 hover:opacity-40;
}

.social_icon_btn{
    @apply bg-white px-[2%] py-[2%] rounded-xl cursor-pointer active:scale-110 hover:scale-105 transition-all;
}
.social_icon_btn_dark{
    @apply bg-black px-[2%] py-[2%] rounded-xl cursor-pointer active:scale-110 hover:scale-105 transition-all;
}

.screen-adapt{
    @apply flex flex-col mt-5 md:mt-8 w-full px-[6%] sm:px-[7%] md:px-[6%] lg:px-[7%] xl:px-[7%] 2xl:px-[12%] ;
}

.filter_type{
    @apply flex items-center justify-between cursor-pointer hover:bg-[#eeeeee] rounded-md px-1 py-1;
}

.filter_header{
    @apply font-satoshibold text-[20px];
}

.price_slider{
    @apply flex items-center justify-center z-1 gap-2 pt-[10px];
}

.authen_input{
    @apply border rounded-md;
}

.input_outerDiv{
    @apply flex items-center justify-center rounded-[62px] my-3 h-12 bg-[#F0F0F0] px-2;
}

.input_field{
    @apply border-none bg-[#F0F0F0] outline-none w-full;
}

.black_button{
    @apply font-satoshi bg-black w-full h-13 max-w-92.5 sm:max-w-[350px] lg:max-w-52.5 mt-4 rounded-[62px] text-white
                     py-3.5 lg:px-13.5 gap-3 hover:bg-[#202020] cursor-pointer transition-all active:scale-95;
}

.auth_button{
    @apply font-satoshi bg-black w-full h-13 mt-4 rounded-[62px] text-white
                     py-3.5 lg:px-13.5 gap-3 hover:bg-[#202020] cursor-pointer transition-all active:scale-95;
}

.auth_paragraph{
    @apply text-[14px] md:text-[16px];
}

.login_option_btn{
    @apply flex flex-row gap-3 rounded-[10px] w-full px-2 py-2 border border-gray-600 cursor-pointer hover:bg-[#F0F0F0] transition-all active:scale-100 hover:scale-105;
}

.cart_item_title{
    @apply font-satoshibold text-[16px] sm:text-[18px] md:text-[20px] lg:text-[22px];
}

.cart_item_details{
    @apply font-satoshi text-[12px] md:text-[14px] lg:text-[16px];
}

.color_style{
    @apply relative w-9.25 h-9.25 rounded-full cursor-pointer transition-transform active:scale-95 focus:outline-none border-2;
}

.item_container{
    @apply flex flex-col border rounded-[20px] border-black/20;
}

.profile_menu_icon{
    @apply size-5;
}

.page_header{
    @apply font-satoshibold text-[24px] md:text-[32px];
}