@import "tailwindcss";

@font-face{
    font-family: 'IntegralCF';
    src: url("./assets/fonts/IntegralCF-Bold.otf") format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face{
    font-family: 'Satoshi';
    src: url("./assets/fonts/Satoshi-Variable.ttf") format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: 'SatoshiSemiBold';
    src: url("./assets/fonts/Satoshi-Variable.ttf") format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face{
    font-family: 'SatoshiBold';
    src: url("./assets/fonts/Satoshi-Variable.ttf") format('truetype');
    font-weight: 700;
    font-style: normal;
}

@theme{
    --font-integralcf: 'IntegralCF', sans-serif;
}

@theme{
    --font-satoshi: 'Satoshi', sans-serif;
}

@theme{
    --font-satoshi: 'SatoshiSemiBold', sans-serif;
}

@theme{
    --font-satoshibold: 'SatoshiBold', sans-serif;
}

.screen-adapt{
    @apply flex flex-col items-center justify-center mt-5 md:mt-8 w-full px-[6%] sm:px-[7%] md:px-[6%] lg:px-[7%] xl:px-[7%] 2xl:px-[12%] ;
}


/*------------ Hero Page----------------*/
.brand_container{
    @apply flex flex-wrap bg-black w-full items-center justify-center gap-x-6 gap-y-3 py-8 lg:py-10 px-4
    md:flex-nowrap md:justify-between md:px-16 lg:px-20
}

.brand-logo{
    @apply  object-contain cursor-pointer hover:opacity-80 transition-all duration-200 active:scale-95 h-[20px] w-auto
    sm:h-[30px] md:h-[40px];
}

@media (max-width: 767px) {
    .brand_container .brand-logo:nth-child(-n+3) {
        width: 26%;
        max-width: 98px;
    }

    .brand_container .brand-logo:nth-child(n+4) {
        width: 38%;
        max-width: 132px;
    }

    .brand_container .brand-logo:nth-child(4) {
        max-width: 116px;
    }
}

/*------------ Default Star Rating Style---------------*/

.star_rate{
    @apply text-yellow-400 w-[15px] h-[15px] md:w-[18px] md:h-[18px];
}

.div_className{
    @apply flex items-center gap-0.5;
}

/*------------- Default Product Price Style -------------*/
.pricing_div{
 @apply flex items-center gap-1 md:gap-3;
}

.newPrice{
    @apply font-satoshibold text-[20px] md:text-[24px];
}

.oldPrice{
    @apply font-satoshibold text-[20px] md:text-[24px] opacity-40 line-through;
}

.discountPer{
    @apply font-satoshi text-[#FF3333] bg-[rgba(255,51,51,0.1)] px-3 py-1 rounded-xl text-[10px] md:text-[12px];
}

.view_all_btn{
    @apply font-satoshi text-[14px] md:text-[16px] rounded-[62px] border border-[rgba(0,0,0,0.1)] py-[16px] px-[65px] w-full sm:max-w-[350px] lg:max-w-52.5 hover:bg-[#f5f5f5] cursor-pointer transition-all active:scale-95 max-w-[370px] md:w-[250];
}

.home_banner{
    @apply font-integralcf text-[32px] lg:text-[48px];
}

.footer_options{
    @apply font-satoshi opacity-50 text-[14px] md:text-[16px] cursor-pointer active:opacity-20 hover:opacity-40;
}

.social_icon_btn{
    @apply bg-white px-[2%] py-[2%] rounded-full cursor-pointer active:scale-110 hover:scale-105 transition-all;
}
.social_icon_btn_dark{
    @apply bg-black px-[2%] py-[2%] rounded-full cursor-pointer active:scale-110 hover:scale-105 transition-all;
}

.filter_type{
    @apply flex items-center justify-between cursor-pointer hover:bg-[#eeeeee] rounded-md px-1 py-1;
}

.filter_header{
    @apply font-satoshibold text-[20px];
}

.price_slider{
    @apply flex items-center justify-center z-1 gap-2 pt-[10px];
}

.authen_input{
    @apply border rounded-md;
}


.input_outerDiv{
    @apply flex items-center justify-center rounded-[62px] my-3 h-12 bg-[#F0F0F0] px-2;
}

.input_field{
    @apply border-none bg-[#F0F0F0] outline-none w-full;
}

.black_button{
    @apply flex items-center justify-center font-satoshi bg-black w-full h-13 max-w-92.5 sm:max-w-[350px] lg:max-w-52.5 rounded-[62px] mt-4 text-white
                    py-3.5 lg:px-13.5 gap-3 hover:bg-[#202020] cursor-pointer transition-all active:scale-95;
}

.auth_button{
    @apply font-satoshi bg-black w-full h-13 mt-4 rounded-[62px] text-white
                     py-3.5 lg:px-13.5 gap-3 hover:bg-[#202020] cursor-pointer transition-all active:scale-95;
}

.auth_paragraph{
    @apply text-[14px] md:text-[16px];
}

.login_option_btn{
    @apply flex flex-row gap-3 rounded-[15px] w-full px-3.5 py-3.5 border border-gray-600 cursor-pointer transition-all active:scale-100 hover:scale-103;
}

/*----------- Cart -----------------*/
.cart_item_title{
    @apply font-satoshibold text-[16px] sm:text-[18px] md:text-[20px] lg:text-[22px];
}

.cart_item_details{
    @apply font-satoshi text-[12px] md:text-[14px] lg:text-[16px];
}

.cart_header{
    @apply font-satoshibold text-[20px] lg:text-[24px];
}

.cart_details{
    @apply font-satoshi text-[16px] lg:text-[20px] opacity-60;
}

.cart_details_data{
     @apply font-satoshibold text-[16px] lg:text-[20px];
}

.cart_details_data_disc{
     @apply font-satoshibold text-[16px] lg:text-[20px] text-red-600;
}

.cart_coupon_btn{
    @apply font-satoshi text-[14px] lg:text-[16px] bg-black text-white px-[6%] rounded-[30px] h-12 hover:bg-[#202020] cursor-pointer transition-all active:scale-95;
}

.cart_checkout_btn{
    @apply flex items-center justify-center bg-black w-full rounded-[40px] text-[14px] lg:text-[16px] text-white py-4 gap-2 hover:bg-[#202020] cursor-pointer transition-all active:scale-95 mb-5;
}

/*-------------------------------------*/
.color_style{
    @apply relative w-9.25 h-9.25 rounded-full cursor-pointer transition-transform active:scale-95 focus:outline-none border-2;
}

.item_container{
    @apply flex flex-col border rounded-[20px] border-black/20;
}

.profile_menu_icon{
    @apply size-5;
}

.page_header{
    @apply font-satoshibold text-[24px] md:text-[32px];
}

.slider_component{
    @apply flex items-center justify-center gap-5 overflow-y-hidden py-4 px-2;
}

.slider_component::-webkit-scrollbar {
    display:none
}

/*----------------Browse Style Component----------------*/

.browse_style_comp {
    @apply grid 
    grid-cols-1 gap-3 w-full px-[10%]
    sm:gap-4
    md:grid-cols-2
    lg:grid-cols-5 lg:gap-5
    2xl:gap-8;
}

.style_img {
    @apply object-cover w-full h-45
    sm:h-52
    md:h-60
    lg:h-72.5 lg:aspect-auto
    2xl:h-125;
}

.style_card {
    @apply relative rounded-[20px] overflow-hidden cursor-pointer hover:scale-103 active:scale-100 transition-all;
}

.style_card-md {
    @apply col-span-1 lg:col-span-2;
}

.style_card-lg {
    @apply col-span-1 lg:col-span-3;
}

.browse_style_par{
    @apply absolute top-4 left-4 text-[24px] 2xl:text-[36px] font-bold text-black;
}

/*---------------Brands Page---------------*/


.brand_image{
    @apply object-cover w-75 h-50 sm:w-100 sm:h-65 md:w-120 md:h-85 lg:w-100 lg:h-75 2xl:w-110 2xl:h-90 rounded-[20px] cursor-pointer;
}


/*---------------Category Page----------------*/
.results_span{
    @apply font-satoshi text-black/50 text-[14px] lg:text-[16px];
}

.filter_button_hidden{
   @apply inline-flex md:hidden size-10 shrink-0 items-center justify-center rounded-full bg-[#F0F0F0] text-black rotate-90; 
}

/*---------------Dual Price Slider----------------*/
.slider-thumb-left::-webkit-slider-thumb,
.slider-thumb-right::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    pointer-events: auto;
    width: 18px;
    height: 18px;
    border-radius: 999px;
    background: #000;
    cursor: pointer;
    border: 2px solid #fff;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}

.slider-thumb-left::-webkit-slider-runnable-track,
.slider-thumb-right::-webkit-slider-runnable-track {
    height: 4px;
    background: transparent;
}

.slider-thumb-left::-moz-range-thumb,
.slider-thumb-right::-moz-range-thumb {
    pointer-events: auto;
    width: 18px;
    height: 18px;
    border: 2px solid #fff;
    border-radius: 999px;
    background: #000;
    cursor: pointer;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}

.slider-thumb-left::-moz-range-track,
.slider-thumb-right::-moz-range-track {
    height: 4px;
    background: transparent;
}

/*-----------Navigation Menu--------------*/
.nav_genderheader{
    @apply font-satoshibold pl-2;
}

.nav_catImage{
    @apply rounded-[2%] w-[200px] h-[100px] ;
}


/*--------------- Product Page ---------------*/
.product_header{
    @apply font-integralcf text-[24px] sm:text-[28px] md:text-[35px] lg:text-[40px];
}

.product_description{
    @apply font-satoshi text-[14px] lg:text-[16px] text-black/60;
}

.product_select_option{
    @apply font-satoshi text-black/50 text-[14px] lg:text-[16px];
}

.product_star_rate{
    @apply text-yellow-400 w-[25px] h-[25px] md:w-[25px] md:h-[25px];
}

.product_star_divClass{
    @apply flex items-center gap-1.5;
}

.size_styling{
    @apply font-satoshi px-5 py-3 text-[14px] rounded-[62px] cursor-pointer transition-all duration-500;
}

.add_toCart_btn{
    @apply bg-black text-white w-full rounded-[25px] py-3 text-[14px] lg:text-[16px] cursor-pointer hover:bg-[#121212] active:scale-95 transition-normal duration-200;
}

.product_tabs{
    @apply cursor-pointer relative py-3 font-satoshi text-[16px] lg:text-[20px] transition-colors duration-200 px-3 lg:flex-1;
}

/*---------------Reviews Page--------------*/
.loadMoreBtn{
    @apply border border-black/10 w-auto rounded-[40px] px-[10%] lg:px-[5%] py-4 hover:cursor-pointer active:scale-95;
}

.writeAReviewBtn{
    @apply font-satoshi bg-black text-white px-5 lg:px-7 py-3 rounded-[30px] hover:bg-[#121212] active:scale-95 cursor-pointer text-[0.75em];
}

.filter_button{
   @apply inline-flex size-10 shrink-0 items-center justify-center rounded-full bg-[#F0F0F0] text-black rotate-90; 
}

/*--------- Verification Page------------*/
.otpInput{
    @apply w-10 h-12.5 lg:w-[60px] lg:h-[70px] mx-1 lg:mx-3 my-5 border rounded-[10%] text-center text-[1.3em];
}

.verification_button{
    @apply font-satoshi bg-blue-500 text-white 
    w-full lg:w-[80%] text-[1.5em] 
    py-2 rounded-[1.5em] 
    cursor-pointer 
    hover:scale-103 
    active:scale-100 
    transition-all duration-200;
}

.resend_ver_btn{
    @apply text-blue-400 cursor-pointer active:text-blue-300;
}


/*----------- Product Details --------------------------*/
.details_li{
    @apply font-satoshibold text-[16px] lg:text-[18px];
}

.details_span{
    @apply font-satoshi text-[15px] lg:text-[17px];
}

