# Default ignored files
/shelf/
/workspace.xml

.idea/
*.iml
*.iws
*.ipr
out/

target/
!.mvn/wrapper/maven-wrapper.jar

*.jar
*.war
*.ear

*.log
logs/

.env
application-local.properties
application-local.yml